{%extends 'layout.twig'%}
{%block body%}
<div id="about-block-body">
	<section>
		<article id="about-description" class="about">
			<h2 class="abt-h2">Picture Store, de quoi s'agit-il ?</h2>
			<p class="abt-p">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
			</p>
			<p class="abt-p">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla tincidunt in nunc ac semper. Nunc feugiat lectus in
				mauris aliquam imperdiet. Vestibulum laoreet odio id dictum lobortis.
				m imperdiet. Vestibulum laoreet odio id dictum lobortis
			</p>
		</article>
	</section>
</div>
{%endblock%}
